{% extends "base.twig" %} {% block content %}
<div
  class="image-header"
  style="background-image:url('{{ post.thumbnail.src }}')"
>
  <a href="/" alt="Home">
    {% if post.meta('logo_negative_version') %}
    <svg
      id="Ebene_1"
      data-name="Ebene 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 283.46 141.73"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #fff;
          }
        </style>
      </defs>
      <path
        class="cls-1"
        d="M26.66,201.66l2.16.48-.28,1.39-3.33.31-.82-2.5a6.54,6.54,0,0,1-2.26,1.94,5.56,5.56,0,0,1-2.54.56,5.09,5.09,0,0,1-4-1.59,6.59,6.59,0,0,1-1.44-4.57v-1.32a9.78,9.78,0,0,1,1.8-6.24,6,6,0,0,1,5-2.27,11.66,11.66,0,0,1,1.36.08c.52,0,1.12.14,1.8.26v-4.61l-2.17-.48.28-1.39,4.44-.31Zm-9.94-4.28a5.47,5.47,0,0,0,1,3.54,3.21,3.21,0,0,0,2.64,1.22,4.24,4.24,0,0,0,2.07-.56,6.79,6.79,0,0,0,1.68-1.24V189.93c-.55-.11-1.13-.2-1.73-.28a15,15,0,0,0-1.72-.1,6.16,6.16,0,0,0-1.77.26,5.2,5.2,0,0,0-1.46.69,15.68,15.68,0,0,0-.52,2.43,18.93,18.93,0,0,0-.19,2.77Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M42.89,201.66l2.45.48-.28,1.39-3.61.31-.82-2.5a6.82,6.82,0,0,1-2.37,1.92,6.41,6.41,0,0,1-2.74.58,4.89,4.89,0,0,1-3.19-1,3.27,3.27,0,0,1-1.21-2.68,4.25,4.25,0,0,1,2.29-3.91q2.3-1.33,6.93-1.33v-1.34a5,5,0,0,0-.77-3.09,3.31,3.31,0,0,0-2.7-.95,10.37,10.37,0,0,0-1,.06,8.28,8.28,0,0,0-1.08.15l-.85,3-1.39-.14v-4a16.32,16.32,0,0,1,2.1-.53,14.34,14.34,0,0,1,2.53-.23,6.33,6.33,0,0,1,4.33,1.28,5.11,5.11,0,0,1,1.42,4Zm-2.55-5a22.39,22.39,0,0,0-3.77.28,8.23,8.23,0,0,0-2.5.74,5.12,5.12,0,0,0-.29.91,5.34,5.34,0,0,0-.11,1.08,2.3,2.3,0,0,0,.78,1.84,3.05,3.05,0,0,0,2,.66,4.48,4.48,0,0,0,2.1-.53,6.56,6.56,0,0,0,1.75-1.27Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M47.38,202.14l2.17-.48V190l-2.17-.48.29-1.39,3.33-.31.82,2.52a8.15,8.15,0,0,1,2.36-1.86,6.15,6.15,0,0,1,2.78-.66,4.82,4.82,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.21,4.08v8.41l2.16.48-.28,1.39H57.47l-.28-1.39,2.17-.48v-7.79a5.94,5.94,0,0,0-.71-3.24,2.77,2.77,0,0,0-2.52-1.08,4.77,4.77,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.17.48L54,203.53H47.67Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M68.62,190l-2.17-.48.29-1.39,4.43-.31v13.81l2.17.48-.28,1.39H66.74l-.29-1.39,2.17-.48ZM68,183.68a2.37,2.37,0,0,1,.41-1.38,1.21,1.21,0,0,1,1-.59,2.38,2.38,0,0,1,1.39.41,1.22,1.22,0,0,1,.57,1,2.27,2.27,0,0,1-.42,1.37,1.18,1.18,0,0,1-1,.58,2.31,2.31,0,0,1-1.37-.41A1.17,1.17,0,0,1,68,183.68Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M78.21,196.12v1.08a4.89,4.89,0,0,0,1.31,3.66,4.31,4.31,0,0,0,3.13,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.92,5.92,0,0,1,4.92-2.29,5.25,5.25,0,0,1,4.15,1.46q1.27,1.47,1.28,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09h6.87a7,7,0,0,0-.75-3.72A2.61,2.61,0,0,0,82,189.55a5.46,5.46,0,0,0-1.65.25A4.71,4.71,0,0,0,79.06,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M92.44,183.58l-2.17-.48.28-1.39L95,181.4v20.26l2.17.48-.29,1.39H90.55l-.28-1.39,2.17-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M106.14,194.73a11.34,11.34,0,0,1,3.73,2.58,3.87,3.87,0,0,1,.79,2.38,3.53,3.53,0,0,1-1.62,3,7.27,7.27,0,0,1-4.3,1.15,11.67,11.67,0,0,1-2.71-.29,9.35,9.35,0,0,1-2-.7l-.15-3.4,1.55-.28.82,2.65a8.2,8.2,0,0,0,1.22.25,12,12,0,0,0,1.35.07,12.91,12.91,0,0,0,1.52-.09,11,11,0,0,0,1.54-.3,3.19,3.19,0,0,0,.21-.68,3.68,3.68,0,0,0,.07-.73,2.34,2.34,0,0,0-.91-1.8,19.56,19.56,0,0,0-3.51-2.18,10.71,10.71,0,0,1-3.16-2.21,3.39,3.39,0,0,1-.81-2.24,3.52,3.52,0,0,1,1.49-2.91,6.75,6.75,0,0,1,4.22-1.15,11.92,11.92,0,0,1,2.48.26,8.65,8.65,0,0,1,2.07.7l.13,3.4-1.55.29-.83-2.67a7.43,7.43,0,0,0-1.21-.22c-.42,0-.82-.06-1.17-.06a9.94,9.94,0,0,0-1.46.1,9,9,0,0,0-1.31.3,2.84,2.84,0,0,0-.31,1.33,2.07,2.07,0,0,0,.65,1.44A14.9,14.9,0,0,0,106.14,194.73Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M113.15,196.56a10.13,10.13,0,0,1,1.8-6.45,6,6,0,0,1,5-2.26,11.45,11.45,0,0,1,2.16.21,10.57,10.57,0,0,1,2.16.68l.27,3.32-1.56.32-1-2.53a7.26,7.26,0,0,0-2.1-.3,7.1,7.1,0,0,0-1.72.21,6.24,6.24,0,0,0-1.58.64,16.58,16.58,0,0,0-.85,5.31v1.55a4.79,4.79,0,0,0,1.32,3.57,4.32,4.32,0,0,0,3.17,1.31,8.27,8.27,0,0,0,2.07-.26,11,11,0,0,0,2.11-.77v1.36a9,9,0,0,1-2.24,1,8.9,8.9,0,0,1-2.63.38,6.69,6.69,0,0,1-4.67-1.53,5.71,5.71,0,0,1-1.68-4.43Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M126.74,202.14l2.17-.48V183.58l-2.17-.48.28-1.39,4.44-.31v8.72l.2.08a6.26,6.26,0,0,1,2.07-1.74,5.59,5.59,0,0,1,2.62-.61,4.76,4.76,0,0,1,3.72,1.33,6,6,0,0,1,1.19,4.07v8.41l2.17.48-.28,1.39h-6.32l-.29-1.39,2.17-.48v-7.93a5.26,5.26,0,0,0-.76-3.22,2.92,2.92,0,0,0-2.44-1,4.39,4.39,0,0,0-2.17.61,6.62,6.62,0,0,0-1.88,1.5v10l2.17.48-.29,1.39H127Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M152.07,203.84a6.42,6.42,0,0,1-4.74-1.65,6.2,6.2,0,0,1-1.65-4.59v-1.32a9.62,9.62,0,0,1,1.8-6.17,5.72,5.72,0,0,1,4.73-2.26A6.65,6.65,0,0,1,157,189.5a6.25,6.25,0,0,1,1.73,4.74v1.33a9.41,9.41,0,0,1-1.79,6A5.88,5.88,0,0,1,152.07,203.84Zm-4.23-19.92a2.24,2.24,0,0,1,.1-.68,1.87,1.87,0,0,1,.27-.57,1.26,1.26,0,0,1,.41-.39.92.92,0,0,1,.48-.14,2.26,2.26,0,0,1,.69.1,1.72,1.72,0,0,1,.56.27,1.42,1.42,0,0,1,.37.41,1,1,0,0,1,.13.49,2.54,2.54,0,0,1-.09.68,2.24,2.24,0,0,1-.27.56,1.34,1.34,0,0,1-.4.39.84.84,0,0,1-.48.14,2.63,2.63,0,0,1-.7-.09,2,2,0,0,1-.56-.28,1.43,1.43,0,0,1-.38-.4A1,1,0,0,1,147.84,183.92Zm8.36,10.8a5.76,5.76,0,0,0-1.12-3.78,4,4,0,0,0-3.15-1.39,5,5,0,0,0-1.56.25,4.55,4.55,0,0,0-1.29.6,10.12,10.12,0,0,0-.61,2.17,16.06,16.06,0,0,0-.24,2.86v1.68a5.24,5.24,0,0,0,1.23,3.71,4,4,0,0,0,3,1.32,5.07,5.07,0,0,0,1.46-.22,5.64,5.64,0,0,0,1.39-.63,8.22,8.22,0,0,0,.64-2.19,16.58,16.58,0,0,0,.21-2.69Zm-2.7-10.8a2.6,2.6,0,0,1,.1-.68,2.5,2.5,0,0,1,.27-.57,1.34,1.34,0,0,1,.4-.39.92.92,0,0,1,.48-.14,2.28,2.28,0,0,1,.7.1,1.94,1.94,0,0,1,.56.27,1.46,1.46,0,0,1,.38.41,1,1,0,0,1,.13.49,2.2,2.2,0,0,1-.1.68,1.94,1.94,0,0,1-.27.56,1.37,1.37,0,0,1-.41.39.84.84,0,0,1-.48.14,2.56,2.56,0,0,1-.69-.09,1.73,1.73,0,0,1-.56-.28,1.39,1.39,0,0,1-.37-.4A1,1,0,0,1,153.5,183.92Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M161.61,202.14l2.17-.48V190l-2.17-.48.28-1.39,3.33-.31.82,2.52a8.06,8.06,0,0,1,2.37-1.86,6.12,6.12,0,0,1,2.78-.66,4.84,4.84,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.2,4.08v8.41l2.17.48-.28,1.39H171.7l-.29-1.39,2.17-.48v-7.79a6,6,0,0,0-.7-3.24,2.79,2.79,0,0,0-2.53-1.08,4.73,4.73,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.16.48-.28,1.39h-6.32Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M183.09,196.12v1.08a4.85,4.85,0,0,0,1.31,3.66,4.27,4.27,0,0,0,3.12,1.28,10.41,10.41,0,0,0,2.31-.25,11.85,11.85,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.58,1,12.46,12.46,0,0,1-2.69.3,5.56,5.56,0,0,1-6.13-6.17v-1.18a10,10,0,0,1,1.8-6.35,5.94,5.94,0,0,1,4.93-2.29,5.27,5.27,0,0,1,4.15,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a10.36,10.36,0,0,0-.53,1.93,15.69,15.69,0,0,0-.28,2.09H190a7.11,7.11,0,0,0-.74-3.72,2.63,2.63,0,0,0-2.39-1.15,5.39,5.39,0,0,0-1.64.25A4.57,4.57,0,0,0,183.94,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M195.33,202.14l2.17-.48V190l-2.17-.48.28-1.39,3.33-.31.82,2.52a8.06,8.06,0,0,1,2.37-1.86,6.12,6.12,0,0,1,2.78-.66,4.84,4.84,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.2,4.08v8.41l2.17.48-.28,1.39h-6.32l-.29-1.39,2.17-.48v-7.79a6,6,0,0,0-.7-3.24,2.79,2.79,0,0,0-2.53-1.08,4.73,4.73,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.16.48-.28,1.39h-6.32Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M217.67,190.12l.2.08a6.67,6.67,0,0,1,1.92-1.74,5.12,5.12,0,0,1,2.59-.61,4.63,4.63,0,0,1,3.76,1.58,7.13,7.13,0,0,1,1.32,4.67v1.33a9.68,9.68,0,0,1-1.79,6.17,5.77,5.77,0,0,1-4.77,2.24,16.55,16.55,0,0,1-2.89-.29c-1.12-.2-2.09-.41-2.89-.63V183.58L213,183.1l.29-1.39,4.43-.31Zm7.24,4.32a6.23,6.23,0,0,0-.88-3.67,2.92,2.92,0,0,0-2.55-1.22,3.86,3.86,0,0,0-2,.63,7.91,7.91,0,0,0-1.8,1.48v10.1c.46.1,1,.18,1.64.26a14.83,14.83,0,0,0,1.88.12,4.89,4.89,0,0,0,1.63-.27,4.4,4.4,0,0,0,1.23-.6,9.63,9.63,0,0,0,.58-2.07,16,16,0,0,0,.28-3.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M232.7,196.12v1.08a4.85,4.85,0,0,0,1.32,3.66,4.27,4.27,0,0,0,3.12,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.94,5.94,0,0,1,4.92-2.29,5.28,5.28,0,0,1,4.16,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09h6.87a7,7,0,0,0-.75-3.72,2.61,2.61,0,0,0-2.38-1.15,5.46,5.46,0,0,0-1.65.25A4.86,4.86,0,0,0,233.55,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M247.11,190l-2.16-.48.28-1.39,3.33-.31.82,2.51a5.16,5.16,0,0,1,1.59-1.89,3.67,3.67,0,0,1,2.14-.62,4.46,4.46,0,0,1,1.14.15,3.45,3.45,0,0,1,1,.44l-.36,4h-1.58l-.37-2.62a1.75,1.75,0,0,0-.64-.11,2.43,2.43,0,0,0-1.44.52,4.71,4.71,0,0,0-1.17,1.14v10.28l2.64.48-.28,1.39h-6.79l-.28-1.39,2.16-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M267.66,189.68l-.06.14a3.34,3.34,0,0,1,1.06,1.23,3.43,3.43,0,0,1,.46,1.71v.36a4.88,4.88,0,0,1-1.55,3.79,5.9,5.9,0,0,1-4.12,1.41,8.06,8.06,0,0,1-1.69-.17,10.5,10.5,0,0,0-1.24,1.34,2,2,0,0,0-.47,1,.68.68,0,0,0,.26.57,1.24,1.24,0,0,0,.75.2h3.17a10.3,10.3,0,0,1,5,1,3.32,3.32,0,0,1,1.68,3.08,3.86,3.86,0,0,1-2,3.49,10.76,10.76,0,0,1-5.58,1.2,12,12,0,0,1-4.64-.67,2.22,2.22,0,0,1-1.49-2.14,3,3,0,0,1,.77-1.91,9,9,0,0,1,2.19-1.88,3.22,3.22,0,0,1-1.6-.74,1.83,1.83,0,0,1-.58-1.42,3,3,0,0,1,.67-1.76,8.71,8.71,0,0,1,1.78-1.75,4.22,4.22,0,0,1-1.84-1.57,4,4,0,0,1-.61-2.13v-.37a5.77,5.77,0,0,1,1.54-4.3,5.63,5.63,0,0,1,4.12-1.52,7.54,7.54,0,0,1,1,.09c.42.06.8.14,1.13.22h4.45l.25,1.52Zm-5.85,13.85a8.38,8.38,0,0,0-1.63,1.55,2.52,2.52,0,0,0-.63,1.5,1.37,1.37,0,0,0,1,1.37,12.81,12.81,0,0,0,3.68.36,13.69,13.69,0,0,0,2.2-.18,8.26,8.26,0,0,0,2-.55,2.53,2.53,0,0,0,.38-.81,3.2,3.2,0,0,0,.15-1,1.81,1.81,0,0,0-1-1.78,9,9,0,0,0-3.55-.5Zm4.76-10.82a3,3,0,0,0-.94-2.33,3.27,3.27,0,0,0-2.24-.83,6.11,6.11,0,0,0-1.23.12,4.76,4.76,0,0,0-1,.3,7.86,7.86,0,0,0-.43,1.56,8.76,8.76,0,0,0-.13,1.46v.54a2.78,2.78,0,0,0,1,2.23,3.31,3.31,0,0,0,2.17.86,6.62,6.62,0,0,0,1.23-.11,3.64,3.64,0,0,0,1-.32,4.4,4.4,0,0,0,.4-1.24,8.23,8.23,0,0,0,.17-1.7Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M275.12,196.12v1.08a4.89,4.89,0,0,0,1.31,3.66,4.31,4.31,0,0,0,3.13,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.92,5.92,0,0,1,4.92-2.29,5.28,5.28,0,0,1,4.16,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09H282a7,7,0,0,0-.75-3.72,2.61,2.61,0,0,0-2.38-1.15,5.46,5.46,0,0,0-1.65.25A4.86,4.86,0,0,0,276,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M289.53,190l-2.16-.48.28-1.39,3.33-.31.82,2.51a5.16,5.16,0,0,1,1.59-1.89,3.67,3.67,0,0,1,2.14-.62,4.46,4.46,0,0,1,1.14.15,3.45,3.45,0,0,1,1,.44l-.36,4H295.7l-.37-2.62a1.75,1.75,0,0,0-.64-.11,2.43,2.43,0,0,0-1.44.52,4.71,4.71,0,0,0-1.17,1.14v10.28l2.64.48-.28,1.39h-6.79l-.28-1.39,2.16-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M59.39,224.29a2.61,2.61,0,0,1-1.91-.66,2.52,2.52,0,0,1-.66-1.85v-.53a3.92,3.92,0,0,1,.72-2.49,2.34,2.34,0,0,1,1.91-.91,2.68,2.68,0,0,1,1.93.67,2.49,2.49,0,0,1,.7,1.91V221a3.77,3.77,0,0,1-.72,2.42A2.37,2.37,0,0,1,59.39,224.29Zm1.66-3.67a2.32,2.32,0,0,0-.45-1.52,1.6,1.6,0,0,0-1.27-.56,1.91,1.91,0,0,0-.62.1,1.57,1.57,0,0,0-.52.24,4.19,4.19,0,0,0-.25.87,7,7,0,0,0-.09,1.15v.68a2.09,2.09,0,0,0,.49,1.49,1.59,1.59,0,0,0,1.22.54,2.06,2.06,0,0,0,.59-.09,2.2,2.2,0,0,0,.56-.26,3.27,3.27,0,0,0,.26-.88,7.41,7.41,0,0,0,.08-1.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M64.1,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.24,2.24,0,0,1,.64-.76,1.58,1.58,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.66.66,0,0,0-.25,0,1.07,1.07,0,0,0-.59.2,2.22,2.22,0,0,0-.46.46v4.14l1.06.2-.12.56H63.34l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M72.37,218.59l0,.06a1.37,1.37,0,0,1,.42.49,1.33,1.33,0,0,1,.19.69V220a2,2,0,0,1-.63,1.53,2.35,2.35,0,0,1-1.65.57A3.47,3.47,0,0,1,70,222a3.43,3.43,0,0,0-.5.54.73.73,0,0,0-.19.41.26.26,0,0,0,.1.22.45.45,0,0,0,.3.08H71a4,4,0,0,1,2,.4,1.32,1.32,0,0,1,.68,1.23,1.56,1.56,0,0,1-.79,1.41,4.38,4.38,0,0,1-2.25.48,4.8,4.8,0,0,1-1.86-.27.9.9,0,0,1-.61-.86,1.25,1.25,0,0,1,.32-.77,3.6,3.6,0,0,1,.88-.76,1.31,1.31,0,0,1-.65-.29.78.78,0,0,1-.23-.57,1.22,1.22,0,0,1,.27-.71,3.66,3.66,0,0,1,.71-.71,1.62,1.62,0,0,1-.73-.63,1.56,1.56,0,0,1-.25-.85v-.15a2.33,2.33,0,0,1,.62-1.73,2.26,2.26,0,0,1,1.66-.62,4.12,4.12,0,0,1,.42,0,4,4,0,0,1,.45.09h1.79l.1.61ZM70,224.17a3.22,3.22,0,0,0-.65.62,1,1,0,0,0-.25.6.54.54,0,0,0,.42.55,5,5,0,0,0,1.48.15,6.65,6.65,0,0,0,.88-.07,3.44,3.44,0,0,0,.8-.22,1.26,1.26,0,0,0,.15-.33,1.32,1.32,0,0,0,.06-.39.72.72,0,0,0-.41-.71,3.51,3.51,0,0,0-1.43-.2Zm1.92-4.36a1.21,1.21,0,0,0-.38-.94,1.32,1.32,0,0,0-.9-.33,1.94,1.94,0,0,0-.49.05,1.73,1.73,0,0,0-.4.12,2.66,2.66,0,0,0-.17.63,3.09,3.09,0,0,0-.06.58v.22a1.13,1.13,0,0,0,.41.9,1.31,1.31,0,0,0,.87.34,2.6,2.6,0,0,0,.5,0,1.63,1.63,0,0,0,.39-.13,1.63,1.63,0,0,0,.16-.5,3,3,0,0,0,.07-.68Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M79.15,223.41l1,.2-.11.56-1.46.12-.33-1a2.47,2.47,0,0,1-2,1,2,2,0,0,1-1.29-.4,1.31,1.31,0,0,1-.48-1.08,1.69,1.69,0,0,1,.92-1.57,5.66,5.66,0,0,1,2.79-.54v-.54a2,2,0,0,0-.31-1.24,1.35,1.35,0,0,0-1.09-.38l-.42,0-.43.06-.35,1.21-.56-.05v-1.62a5.86,5.86,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,3.07,3.07,0,0,0-.11.36,2.12,2.12,0,0,0,0,.44.93.93,0,0,0,.32.74,1.21,1.21,0,0,0,.82.27,1.76,1.76,0,0,0,.84-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M81,223.61l.87-.2v-4.68l-.87-.19.12-.56,1.34-.13.33,1a3.21,3.21,0,0,1,1-.75,2.4,2.4,0,0,1,1.12-.27,1.91,1.91,0,0,1,1.5.54,2.33,2.33,0,0,1,.49,1.64v3.38l.87.2-.11.56H85l-.11-.56.87-.2v-3.13A2.43,2.43,0,0,0,85.5,219a1.12,1.12,0,0,0-1-.43,1.9,1.9,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.87.2-.11.56H81.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M89.51,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.12.56H88.75l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.47.47,0,0,1,.39-.24,1,1,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,89.24,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M95.05,220.62a4.6,4.6,0,0,1,1.5,1,1.54,1.54,0,0,1,.32,1,1.44,1.44,0,0,1-.65,1.21,2.93,2.93,0,0,1-1.73.46,4.73,4.73,0,0,1-1.09-.12,3.63,3.63,0,0,1-.83-.28l-.06-1.37.63-.11.33,1.07.49.1.54,0c.2,0,.41,0,.61,0a4.52,4.52,0,0,0,.62-.12,1.07,1.07,0,0,0,.09-.27c0-.1,0-.2,0-.3a.94.94,0,0,0-.36-.72,7.59,7.59,0,0,0-1.41-.88,4.33,4.33,0,0,1-1.28-.89,1.43,1.43,0,0,1,.28-2.07,2.71,2.71,0,0,1,1.7-.47,4.62,4.62,0,0,1,1,.11,3.31,3.31,0,0,1,.84.28l.05,1.37-.62.11-.34-1.07a3.41,3.41,0,0,0-.48-.09l-.48,0a3.69,3.69,0,0,0-.58,0,3.77,3.77,0,0,0-.53.12,1.85,1.85,0,0,0-.09.23,1.53,1.53,0,0,0,0,.3.82.82,0,0,0,.25.58A6.27,6.27,0,0,0,95.05,220.62Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M102.68,223.41l1,.2-.12.56-1.45.12-.33-1a2.82,2.82,0,0,1-1,.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.32-1.24,1.32,1.32,0,0,0-1.08-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.66,9.66,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,1.61,1.61,0,0,0,0,.44.92.92,0,0,0,.31.74,1.23,1.23,0,0,0,.82.27,1.77,1.77,0,0,0,.85-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M107.64,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.07,2.07,0,0,1-.6.27,2.29,2.29,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.92-.18.12-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M109.59,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.11.56h-2.55l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.5.5,0,0,1,.39-.24.93.93,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,109.32,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M115,224.29a2.59,2.59,0,0,1-1.91-.66,2.52,2.52,0,0,1-.66-1.85v-.53a3.92,3.92,0,0,1,.72-2.49,2.32,2.32,0,0,1,1.91-.91,2.69,2.69,0,0,1,1.93.67,2.53,2.53,0,0,1,.69,1.91V221a3.83,3.83,0,0,1-.71,2.42A2.37,2.37,0,0,1,115,224.29Zm1.66-3.67a2.32,2.32,0,0,0-.45-1.52,1.6,1.6,0,0,0-1.27-.56,2,2,0,0,0-.63.1,1.51,1.51,0,0,0-.51.24,3.66,3.66,0,0,0-.25.87,6.93,6.93,0,0,0-.1,1.15v.68a2.1,2.1,0,0,0,.5,1.49,1.58,1.58,0,0,0,1.22.54,2.06,2.06,0,0,0,.59-.09,2.37,2.37,0,0,0,.56-.26,3.28,3.28,0,0,0,.25-.88,6.21,6.21,0,0,0,.09-1.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M118.84,223.61l.87-.2v-4.68l-.87-.19L119,218l1.34-.13.33,1a3.21,3.21,0,0,1,.95-.75,2.46,2.46,0,0,1,1.12-.27,2,2,0,0,1,1.51.54,2.38,2.38,0,0,1,.48,1.64v3.38l.87.2-.11.56H122.9l-.12-.56.87-.2v-3.13a2.43,2.43,0,0,0-.28-1.31,1.12,1.12,0,0,0-1-.43,1.9,1.9,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.88.2-.12.56H119Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M129.16,220.62a4.6,4.6,0,0,1,1.5,1,1.54,1.54,0,0,1,.32,1,1.44,1.44,0,0,1-.65,1.21,2.93,2.93,0,0,1-1.73.46,4.73,4.73,0,0,1-1.09-.12,3.63,3.63,0,0,1-.83-.28l-.06-1.37.63-.11.33,1.07.49.1.54,0c.2,0,.41,0,.61,0a4.52,4.52,0,0,0,.62-.12,1.07,1.07,0,0,0,.09-.27,1.51,1.51,0,0,0,0-.3.94.94,0,0,0-.36-.72,7.59,7.59,0,0,0-1.41-.88,4.33,4.33,0,0,1-1.28-.89,1.43,1.43,0,0,1,.28-2.07,2.71,2.71,0,0,1,1.7-.47,4.79,4.79,0,0,1,1,.11,3.36,3.36,0,0,1,.83.28l0,1.37-.62.11-.34-1.07a3.41,3.41,0,0,0-.48-.09l-.48,0a3.69,3.69,0,0,0-.58,0,3.77,3.77,0,0,0-.53.12,1.85,1.85,0,0,0-.09.23,1.53,1.53,0,0,0,0,.3.79.79,0,0,0,.26.58A5.83,5.83,0,0,0,129.16,220.62Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M133.36,218.77l.08,0a2.67,2.67,0,0,1,.77-.7,2.13,2.13,0,0,1,1-.25,1.89,1.89,0,0,1,1.52.64,2.89,2.89,0,0,1,.53,1.88v.53a3.88,3.88,0,0,1-.72,2.49,2.33,2.33,0,0,1-1.92.9,6.81,6.81,0,0,1-1.17-.12c-.45-.08-.83-.16-1.16-.25v-7.78l-.87-.2.11-.56,1.79-.12Zm2.91,1.74a2.59,2.59,0,0,0-.35-1.48,1.19,1.19,0,0,0-1-.49,1.55,1.55,0,0,0-.81.25,3.24,3.24,0,0,0-.72.6v4.06c.19,0,.41.08.66.11a6.3,6.3,0,0,0,.75.05,2,2,0,0,0,.66-.11,1.94,1.94,0,0,0,.5-.25,4.6,4.6,0,0,0,.23-.83,7,7,0,0,0,.11-1.24Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M139.41,221.18v.44a1.92,1.92,0,0,0,.53,1.47,1.71,1.71,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.48v-.48a4.08,4.08,0,0,1,.73-2.56,2.39,2.39,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.19,3.19,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,139.75,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M145.21,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1.07,1.07,0,0,0-.58.2,2.29,2.29,0,0,0-.47.46v4.14l1.07.2-.12.56h-2.73l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M154.13,223.41l1,.2-.12.56-1.45.12-.33-1a2.82,2.82,0,0,1-.95.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.32-1.24,1.32,1.32,0,0,0-1.08-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,2.12,2.12,0,0,0-.05.44.92.92,0,0,0,.31.74,1.23,1.23,0,0,0,.82.27,1.77,1.77,0,0,0,.85-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M159.09,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.07,2.07,0,0,1-.6.27,2.29,2.29,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.92-.18.12-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M161.14,221.18v.44a2,2,0,0,0,.53,1.47,1.71,1.71,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.48v-.48a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,161.48,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M166.94,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1.07,1.07,0,0,0-.58.2,2,2,0,0,0-.46.46v4.14l1.06.2-.12.56h-2.73l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M180.57,221.21a2.55,2.55,0,0,1-.18.95,3,3,0,0,1-.52.85,3,3,0,0,0,.71.4,1.61,1.61,0,0,0,.65.15,3.64,3.64,0,0,0,.48,0,3.08,3.08,0,0,0,.39-.07l.36-.1v.55a1.52,1.52,0,0,1-.36.19,2.21,2.21,0,0,1-.45.13,2.64,2.64,0,0,1-.6.06,2.56,2.56,0,0,1-.93-.18,5.13,5.13,0,0,1-1-.5,4.31,4.31,0,0,1-1.13.5,5.11,5.11,0,0,1-1.4.18,4.9,4.9,0,0,1-1.06-.1,2.49,2.49,0,0,1-.81-.3,1.52,1.52,0,0,1-.51-.53,1.5,1.5,0,0,1-.18-.76v-.17a1.66,1.66,0,0,1,.15-.7,2.55,2.55,0,0,1,.37-.61,3.64,3.64,0,0,1,.53-.51,5.91,5.91,0,0,1,.61-.41,8.41,8.41,0,0,1-.6-1,1.61,1.61,0,0,1-.22-.75v-.17a1.78,1.78,0,0,1,.16-.75,1.83,1.83,0,0,1,.48-.63,2.25,2.25,0,0,1,.78-.43,3.11,3.11,0,0,1,1.06-.16,2.85,2.85,0,0,1,.81.1,1.94,1.94,0,0,1,.59.31,1.25,1.25,0,0,1,.36.49,1.61,1.61,0,0,1,.12.63V218a1.28,1.28,0,0,1-.15.61,2.15,2.15,0,0,1-.43.56,5.18,5.18,0,0,1-.69.54c-.28.18-.59.37-.94.57.33.39.67.77,1,1.16s.73.72,1.1,1a2.31,2.31,0,0,0,.3-.61,2.48,2.48,0,0,0,.1-.73V221l-.87-.2.12-.55,1.72-.13Zm-3.81,2.35a3.66,3.66,0,0,0,1-.12,2.92,2.92,0,0,0,.81-.32,11.67,11.67,0,0,1-1.16-1.09c-.39-.4-.77-.83-1.15-1.28a3.09,3.09,0,0,0-.5.35,1.8,1.8,0,0,0-.33.36,1.27,1.27,0,0,0-.17.4,1.52,1.52,0,0,0-.05.44v.09a.92.92,0,0,0,.13.49,1.16,1.16,0,0,0,.34.36,1.51,1.51,0,0,0,.51.24A2.43,2.43,0,0,0,176.76,223.56Zm1.44-5.49a1,1,0,0,0-.09-.43.82.82,0,0,0-.23-.32.81.81,0,0,0-.34-.19,1.23,1.23,0,0,0-.44-.07l-.32,0-.26,0-.23,0a1.17,1.17,0,0,0-.15.27,1.75,1.75,0,0,0-.1.3,1.37,1.37,0,0,0,0,.36v.1a2.5,2.5,0,0,0,0,.4,1.69,1.69,0,0,0,.12.36,2.09,2.09,0,0,0,.19.36c.09.13.18.27.3.43a7,7,0,0,0,.61-.37,4.2,4.2,0,0,0,.49-.39,1.75,1.75,0,0,0,.33-.41.86.86,0,0,0,.13-.42Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M195,218.54l-.54.1-1.68,5.53h-1.21l-1.47-4.73H190l-1.43,4.73h-1.21l-1.84-5.52-.55-.11L185,218h2.12l.11.56-.74.11,1.46,4.61h.09l1.53-5.28h1l1.56,5.28h.09l1.33-4.61-.77-.11L193,218h1.85Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M200.22,223.41l1,.2-.11.56-1.46.12-.33-1a2.82,2.82,0,0,1-.95.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.31-1.24,1.35,1.35,0,0,0-1.09-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,2.12,2.12,0,0,0-.05.44.92.92,0,0,0,.31.74,1.24,1.24,0,0,0,.83.27,1.76,1.76,0,0,0,.84-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M202,223.61l.87-.2v-4.68l-.87-.19.11-.56,1.34-.13.34,1a3.09,3.09,0,0,1,1-.75,2.39,2.39,0,0,1,1.11-.27,1.92,1.92,0,0,1,1.51.54,2.38,2.38,0,0,1,.49,1.64v3.38l.87.2-.12.56h-2.54l-.11-.56.87-.2v-3.13a2.53,2.53,0,0,0-.28-1.31,1.12,1.12,0,0,0-1-.43,1.87,1.87,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.87.2-.11.56h-2.55Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M214.68,223.41l.88.2-.12.56-1.34.12-.33-1a2.62,2.62,0,0,1-.91.78,2.17,2.17,0,0,1-1,.23,2,2,0,0,1-1.6-.64,2.64,2.64,0,0,1-.58-1.84v-.53a3.93,3.93,0,0,1,.72-2.51,2.42,2.42,0,0,1,2-.92l.55,0,.72.11v-1.85l-.88-.2.12-.56,1.78-.12Zm-4-1.72a2.17,2.17,0,0,0,.4,1.42,1.29,1.29,0,0,0,1.06.5,1.71,1.71,0,0,0,.83-.23,2.61,2.61,0,0,0,.68-.5v-4.19l-.7-.11a5.53,5.53,0,0,0-.69,0,2.39,2.39,0,0,0-.71.1,2.16,2.16,0,0,0-.59.28,6.48,6.48,0,0,0-.21,1,7.87,7.87,0,0,0-.07,1.11Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M217.44,221.18v.44a1.92,1.92,0,0,0,.53,1.47,1.71,1.71,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a4,4,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.48v-.48a4,4,0,0,1,.73-2.56,2.39,2.39,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.2,3.2,0,0,1,.51,2.06v.68Zm.34-2.3a3.94,3.94,0,0,0-.21.78,7.07,7.07,0,0,0-.12.84h2.77a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,217.78,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M223.24,218.73l-.88-.19.12-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.47,1.47,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1,1,0,0,0-.58.2,2.29,2.29,0,0,0-.47.46v4.14l1.06.2-.11.56h-2.73l-.12-.56.88-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M228.21,216.14l-.87-.2.11-.56,1.79-.12v8.15l.87.2-.12.56h-2.54l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M232,221.18v.44a2,2,0,0,0,.53,1.47,1.71,1.71,0,0,0,1.26.52,4.22,4.22,0,0,0,.93-.11,4.33,4.33,0,0,0,.84-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.48v-.48a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2.11,2.11,0,0,0,232.38,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M237.84,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.12.56h-2.54l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.47.47,0,0,1,.39-.24,1,1,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,237.57,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M243.88,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.07,2.07,0,0,1-.6.27,2.24,2.24,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.91-.18.11-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M245.93,221.18v.44a2,2,0,0,0,.53,1.47,1.71,1.71,0,0,0,1.26.52,4.22,4.22,0,0,0,.93-.11,4.66,4.66,0,0,0,.85-.26v.54a4,4,0,0,1-1.05.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.48v-.48a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1,1,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2.11,2.11,0,0,0,246.27,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M251.73,218.73l-.87-.19L251,218l1.34-.13.33,1a2.24,2.24,0,0,1,.64-.76,1.58,1.58,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.66.66,0,0,0-.25,0,1.07,1.07,0,0,0-.59.2,2,2,0,0,0-.46.46v4.14l1.06.2-.12.56H251l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M155.91,85a40.82,40.82,0,1,0,40.81,40.82A40.86,40.86,0,0,0,155.91,85Zm0,75.45a34.61,34.61,0,1,1,34.61-34.61A34.62,34.62,0,0,1,155.9,160.49Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M155.91,94.2a31.69,31.69,0,0,0-31.67,31.66v.27a16.27,16.27,0,0,1,1.88-1,14.65,14.65,0,0,0,.79-1.5c.36-.75,1-2.11,1.1-2.39.29-1,.53-1.9,1.35-2.23a1.48,1.48,0,0,1,1.28.08,38.14,38.14,0,0,1,3.4,2.1c.37.29,1.62,1.39,2.58,2.24a10,10,0,0,1,.73-1.12,4.82,4.82,0,0,0,.69-1.48c.16-.66.76-1.29,2.64-2.8l.11-.08c0-.08.18-.65.26-1a5.26,5.26,0,0,1,.48-1.37,2.71,2.71,0,0,0,.4-1.43c0-1.67,1.89-2.73,2.54-3a1.57,1.57,0,0,1,1.19-1.42,5.5,5.5,0,0,1,1.82,0l.63.06c.06-.17.12-.37.16-.5a6.66,6.66,0,0,1,.23-.68,15.35,15.35,0,0,0,.44-1.6l.08-.32a6.56,6.56,0,0,1,1.94-2.64,3.37,3.37,0,0,0,.2-.52,3.46,3.46,0,0,1,.5-1.1,4,4,0,0,1,1.74-1.15l.33-.15a4,4,0,0,1,3-.39,7.57,7.57,0,0,1,1,.54,6.53,6.53,0,0,0,.93.5,4.7,4.7,0,0,1,2.06,2.31c.17.29.33.57.48.79a3,3,0,0,0,1.4,1.25,4.69,4.69,0,0,0,.54.11,4.56,4.56,0,0,1,2.78,1.26,7,7,0,0,1,1.44,2.19,4.94,4.94,0,0,0,.34.66,7.87,7.87,0,0,0,1.14,1c.43.35.93.76,1.36,1.19s.67.73,1,1.11a6.93,6.93,0,0,0,1.27,1.28,9,9,0,0,1,2.24,1.72c.23.22.43.41.59.54s.41.31.69.54c1,.78,1.9,1.46,2.3,1.86a7.37,7.37,0,0,1,2.07,3,4.52,4.52,0,0,0,.69,1.53c.47.23,1.43.65,2.17,1a4.09,4.09,0,0,1,1.62,1.57,3.35,3.35,0,0,0,.32.44,21.37,21.37,0,0,1,2.3,1.48c.07-.88.1-1.8.1-2.8A31.69,31.69,0,0,0,155.91,94.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M182.73,126.34c-.81-.35-1.85-.81-2.31-1a4.4,4.4,0,0,1-1.28-2.32,6.37,6.37,0,0,0-1.73-2.42c-.52-.52-2.31-1.85-2.89-2.32a15.6,15.6,0,0,0-2.54-2.08c-.81-.34-1.74-1.73-2.66-2.66a29.2,29.2,0,0,1-2.66-2.42,11.2,11.2,0,0,0-1.62-2.66c-.92-.93-2-.81-2.77-1a4.2,4.2,0,0,1-2.08-1.74c-.58-.81-1.22-2.37-2-2.65s-1.39-.81-2-1a2.85,2.85,0,0,0-2,.34,4.47,4.47,0,0,0-1.62.93c-.34.46-.34,1.38-.92,1.85a5.47,5.47,0,0,0-1.5,2,21,21,0,0,1-.58,2.08,10,10,0,0,1-.65,1.73l3.31,1.62c.77.39,1.77,1.55,3,1.85s2.39.16,3.32.7,1.85,1.38,2.31,1.69a26.12,26.12,0,0,0,3.08,1.39,13.37,13.37,0,0,1,2.23,1.23,7.15,7.15,0,0,0,2.24,1.24c.92.23.35-1.11.54-1.55s2.08.45,2.47.85a17.35,17.35,0,0,1,1.69,1.93,8.24,8.24,0,0,0,1.7,2.08,26.13,26.13,0,0,0,2.85,2.08,3.38,3.38,0,0,1,1.85,1.23,5.59,5.59,0,0,0,2.23,1.62,24.09,24.09,0,0,1,3.16,1.7c.39.24,1.31.61,2,1q.14-.74.24-1.47a26.4,26.4,0,0,0-2.69-1.72C184,128.07,183.54,126.68,182.73,126.34Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M144.7,117.7c.47-.06,1.23,0,2.08,0a3.63,3.63,0,0,1,1.62.31,7.41,7.41,0,0,1,1.61,1,15.92,15.92,0,0,1,1.7,1.55,18.11,18.11,0,0,1,1.7,1.77,11.49,11.49,0,0,0,2.31,1.62,11.2,11.2,0,0,0,3.46,1.77,23.59,23.59,0,0,1,4,1.62,28.78,28.78,0,0,0,4.16.77c.88.17,2.87,2,3.24,2.23s2.27,1.25,2.77,1.47a6.16,6.16,0,0,0,2.66-.2c.67-.17,1.35-1.34,2.2-1.42s-.15-1.23-.92-2-2.09-1.46-2.86-2.23a12.62,12.62,0,0,0-2.85-1.85,53.06,53.06,0,0,0-5.39-1.69c-.77-.16-2.16-1.79-2.78-2.39a50.45,50.45,0,0,0-4.39-2.7,12.28,12.28,0,0,0-3.47-1,12,12,0,0,1-2.93-1.24,30.66,30.66,0,0,0-3.62-1.61c-.92-.39-2.95-1.65-3.85-1.24s-2,1.16-2,2a4,4,0,0,1-.58,2.08,7.47,7.47,0,0,0-.43,1.37,2.63,2.63,0,0,1-.6,1.29c-.58.46-2.2,1.73-2.32,2.19a5.83,5.83,0,0,1-.92,2,24.43,24.43,0,0,0-1.39,2.31,7.7,7.7,0,0,0,1.08,1,6.17,6.17,0,0,1,1.31,1.12c.46.5,1.31,1.16,1.66,1.5s2.12,1.93,2.66,2.31,2.31,1.78,2.92,2.24,2,1.69,2.66,2,1.35.89,1.93,1.23,1.79.6,2.31.85,1.75.73,2.16.93,3.6,1.09,4.23,1.37a14.91,14.91,0,0,0,2,.7,13.3,13.3,0,0,0,1.71.29c.37,0,3.09.29,3.7.31l1.43.13h.11a1.56,1.56,0,0,0,.21-.26,14.6,14.6,0,0,1,1.82-2.41,7.1,7.1,0,0,0,.72-.83,10.76,10.76,0,0,1,1.18-1.32c.67-.6,1.92-1.71,3.11-1,.38.22.87.49,1.35.73l-.13-.16-1-1.16a5.38,5.38,0,0,0-2.31-1.31,4.18,4.18,0,0,1-1.77-1.08,7.3,7.3,0,0,0-2.47-1.15c-.6-.15-2.62-1.16-3.62-1.47s-1.77-.92-2.93-1.38-3.62-1-4.62-1.31-2.16-.93-2.93-1.24a8.51,8.51,0,0,1-2.93-1.69c-.54-.69-2.08-1.39-3-2.08a16.65,16.65,0,0,0-2.69-1.39c-.52-.28-1.16-1-1.85-1.46s-1.31-.77-1.31-1.08S144.14,117.78,144.7,117.7Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M151.34,154.32a4.45,4.45,0,0,1,1.73-1,8.22,8.22,0,0,0,.85-.38,5.3,5.3,0,0,1,1.07-.47,3.87,3.87,0,0,0,1.32-.64c.19-.18.43-.45.71-.73a20.08,20.08,0,0,1,1.89-1.86,10.89,10.89,0,0,0,1.24-1.21c.3-.32.63-.67,1-1l.58-.55.07-.07-.38-.28c-.29-.23-.29-.92-.35-1.73a1.35,1.35,0,0,0-.81-1.33c-.4-.17-.86.29-1.15.58a19.15,19.15,0,0,1-1.5,1.5c-.52.4-.67.43-1,.43a3.6,3.6,0,0,1-1.75-.55,8.85,8.85,0,0,0-2.6-1.09c-1-.24-1.1-.35-1.45-.93s.41-1.27.47-1.73-.47-1.22-.81-1.74a7.61,7.61,0,0,0-1-1.33c-.28-.23-.57-.2-1.38-.05s-1.16.4-1.85.52a3.9,3.9,0,0,1-2-.12,19.55,19.55,0,0,1-3.93-2.14,2.19,2.19,0,0,0-1.56-.81c-.58,0-.92.23-1.5.06s-.79-.9-1-1.27a29.73,29.73,0,0,1-.72-2.89c-.06-.35-.29-2.49-.34-3a8.4,8.4,0,0,0-1.22-2.77c-.46-.52-.92-2-1.39-2.49s-2.65-3-2.65-3c-.58-.33-.85,2-1.28,2.68s-1.38,3.12-2,3.35-2.08.81-2.31,1.62c0,.07,0,.16-.07.25a31.66,31.66,0,0,0,24.36,28.42l.15,0c.52-.49.66-.61.74-.67A8,8,0,0,0,151.34,154.32Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M179.11,138.41l-1-.3a18.85,18.85,0,0,1-2.87-1.4c-.39-.24-1.19.47-1.62.85a10.24,10.24,0,0,0-1,1.17,7.43,7.43,0,0,1-.89,1,12.58,12.58,0,0,0-1.56,2.11,24.61,24.61,0,0,1-3,3l-.65.61a2.53,2.53,0,0,1-1.1.47,6.11,6.11,0,0,0-2.18.92c-.37.28-1,.84-1.19,1.07s-.66.68-1,1a12.07,12.07,0,0,1-1.43,1.37,23.46,23.46,0,0,0-1.71,1.69l-.72.76a4.89,4.89,0,0,1-1.79.94,5.14,5.14,0,0,0-.83.34,6.77,6.77,0,0,1-1,.49,4.06,4.06,0,0,0-1.21.62,9.3,9.3,0,0,1-2,1.8l-.15.13a27.89,27.89,0,0,0,5.71.45h.11c11.68,0,22-6.28,27.86-16.85a14.23,14.23,0,0,0-1.79-1.24A29.71,29.71,0,0,0,179.11,138.41Z"
        transform="translate(-14.17 -85.04)"
      />
    </svg>
    {% else %}
    <svg
      id="Ebene_1"
      data-name="Ebene 1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 283.46 141.73"
    >
      <defs>
        <style>
          .cls-1 {
            fill: #536657;
          }
          .cls-2 {
            fill: #7b9a62;
          }
          .cls-3 {
            fill: #fff;
          }
        </style>
      </defs>
      <path
        class="cls-1"
        d="M26.66,201.66l2.16.48-.28,1.39-3.33.31-.82-2.5a6.54,6.54,0,0,1-2.26,1.94,5.56,5.56,0,0,1-2.54.56,5.09,5.09,0,0,1-4-1.59,6.59,6.59,0,0,1-1.44-4.57v-1.32a9.78,9.78,0,0,1,1.8-6.24,6,6,0,0,1,5-2.27,11.66,11.66,0,0,1,1.36.08c.52,0,1.12.14,1.8.26v-4.61l-2.17-.48.28-1.39,4.44-.31Zm-9.94-4.28a5.47,5.47,0,0,0,1,3.54,3.21,3.21,0,0,0,2.64,1.22,4.24,4.24,0,0,0,2.07-.56,6.79,6.79,0,0,0,1.68-1.24V189.93c-.55-.11-1.13-.2-1.73-.28a15,15,0,0,0-1.72-.1,6.16,6.16,0,0,0-1.77.26,5.2,5.2,0,0,0-1.46.69,15.68,15.68,0,0,0-.52,2.43,18.93,18.93,0,0,0-.19,2.77Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M42.89,201.66l2.45.48-.28,1.39-3.61.31-.82-2.5a6.82,6.82,0,0,1-2.37,1.92,6.41,6.41,0,0,1-2.74.58,4.89,4.89,0,0,1-3.19-1,3.27,3.27,0,0,1-1.21-2.68,4.25,4.25,0,0,1,2.29-3.91q2.3-1.33,6.93-1.33v-1.34a5,5,0,0,0-.77-3.09,3.31,3.31,0,0,0-2.7-.95,10.37,10.37,0,0,0-1,.06,8.28,8.28,0,0,0-1.08.15l-.85,3-1.39-.14v-4a14.82,14.82,0,0,1,2.1-.53,14.34,14.34,0,0,1,2.53-.23,6.33,6.33,0,0,1,4.33,1.28,5.11,5.11,0,0,1,1.42,4Zm-2.55-5a22.39,22.39,0,0,0-3.77.28,8.23,8.23,0,0,0-2.5.74,5.12,5.12,0,0,0-.29.91,5.34,5.34,0,0,0-.11,1.08,2.3,2.3,0,0,0,.78,1.84,3.05,3.05,0,0,0,2,.66,4.48,4.48,0,0,0,2.1-.53,6.56,6.56,0,0,0,1.75-1.27Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M47.38,202.14l2.17-.48V190l-2.17-.48.29-1.39,3.33-.31.82,2.52a8.15,8.15,0,0,1,2.36-1.86,6.15,6.15,0,0,1,2.78-.66,4.82,4.82,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.21,4.08v8.41l2.16.48-.28,1.39H57.47l-.28-1.39,2.17-.48v-7.79a5.94,5.94,0,0,0-.71-3.24,2.77,2.77,0,0,0-2.52-1.08,4.77,4.77,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.17.48L54,203.53H47.67Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M68.62,190l-2.17-.48.29-1.39,4.43-.31v13.81l2.17.48-.28,1.39H66.74l-.29-1.39,2.17-.48ZM68,183.68a2.37,2.37,0,0,1,.41-1.38,1.21,1.21,0,0,1,1-.59,2.38,2.38,0,0,1,1.39.41,1.22,1.22,0,0,1,.57,1,2.29,2.29,0,0,1-.42,1.37,1.18,1.18,0,0,1-1,.58,2.31,2.31,0,0,1-1.37-.41A1.17,1.17,0,0,1,68,183.68Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M78.21,196.12v1.08a4.89,4.89,0,0,0,1.31,3.66,4.31,4.31,0,0,0,3.13,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.92,5.92,0,0,1,4.92-2.29,5.25,5.25,0,0,1,4.15,1.46q1.27,1.47,1.28,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09h6.87a7,7,0,0,0-.75-3.72A2.61,2.61,0,0,0,82,189.55a5.46,5.46,0,0,0-1.65.25A4.71,4.71,0,0,0,79.06,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M92.44,183.58l-2.17-.48.28-1.39L95,181.4v20.26l2.17.48-.29,1.39H90.55l-.28-1.39,2.17-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M106.14,194.73a11.34,11.34,0,0,1,3.73,2.58,3.87,3.87,0,0,1,.79,2.38,3.53,3.53,0,0,1-1.62,3,7.27,7.27,0,0,1-4.3,1.15,11.67,11.67,0,0,1-2.71-.29,9.35,9.35,0,0,1-2-.7l-.15-3.4,1.55-.28.82,2.65a8.2,8.2,0,0,0,1.22.25,12,12,0,0,0,1.35.07,12.91,12.91,0,0,0,1.52-.09,11,11,0,0,0,1.54-.3,3.19,3.19,0,0,0,.21-.68,3.68,3.68,0,0,0,.07-.73,2.34,2.34,0,0,0-.91-1.8,19.56,19.56,0,0,0-3.51-2.18,10.71,10.71,0,0,1-3.16-2.21,3.39,3.39,0,0,1-.81-2.24,3.52,3.52,0,0,1,1.49-2.91,6.75,6.75,0,0,1,4.22-1.15,11.92,11.92,0,0,1,2.48.26,8.65,8.65,0,0,1,2.07.7l.13,3.4-1.55.29-.83-2.67a7.43,7.43,0,0,0-1.21-.22c-.42,0-.82-.06-1.17-.06a9.94,9.94,0,0,0-1.46.1,9,9,0,0,0-1.31.3,2.84,2.84,0,0,0-.31,1.33,2.07,2.07,0,0,0,.65,1.44A14.9,14.9,0,0,0,106.14,194.73Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M113.15,196.56a10.13,10.13,0,0,1,1.8-6.45,6,6,0,0,1,5-2.26,11.45,11.45,0,0,1,2.16.21,10.57,10.57,0,0,1,2.16.68l.27,3.32-1.56.32-1-2.53a7.26,7.26,0,0,0-2.1-.3,7.1,7.1,0,0,0-1.72.21,6.24,6.24,0,0,0-1.58.64,16.58,16.58,0,0,0-.85,5.31v1.55a4.79,4.79,0,0,0,1.32,3.57,4.32,4.32,0,0,0,3.17,1.31,8.27,8.27,0,0,0,2.07-.26,11,11,0,0,0,2.11-.77v1.36a9,9,0,0,1-2.24,1,8.9,8.9,0,0,1-2.63.38,6.69,6.69,0,0,1-4.67-1.53,5.71,5.71,0,0,1-1.68-4.43Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M126.74,202.14l2.17-.48V183.58l-2.17-.48.28-1.39,4.44-.31v8.72l.2.08a6.26,6.26,0,0,1,2.07-1.74,5.59,5.59,0,0,1,2.62-.61,4.76,4.76,0,0,1,3.72,1.33,6,6,0,0,1,1.19,4.07v8.41l2.17.48-.28,1.39h-6.32l-.29-1.39,2.17-.48v-7.93a5.26,5.26,0,0,0-.76-3.22,2.92,2.92,0,0,0-2.44-1,4.39,4.39,0,0,0-2.17.61,6.62,6.62,0,0,0-1.88,1.5v10l2.17.48-.29,1.39H127Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M152.07,203.84a6.42,6.42,0,0,1-4.74-1.65,6.2,6.2,0,0,1-1.65-4.59v-1.32a9.62,9.62,0,0,1,1.8-6.17,5.72,5.72,0,0,1,4.73-2.26A6.65,6.65,0,0,1,157,189.5a6.25,6.25,0,0,1,1.73,4.74v1.33a9.41,9.41,0,0,1-1.79,6A5.88,5.88,0,0,1,152.07,203.84Zm-4.23-19.92a2.24,2.24,0,0,1,.1-.68,1.87,1.87,0,0,1,.27-.57,1.26,1.26,0,0,1,.41-.39.92.92,0,0,1,.48-.14,2.26,2.26,0,0,1,.69.1,1.72,1.72,0,0,1,.56.27,1.42,1.42,0,0,1,.37.41,1,1,0,0,1,.13.49,2.54,2.54,0,0,1-.09.68,2.24,2.24,0,0,1-.27.56,1.34,1.34,0,0,1-.4.39.84.84,0,0,1-.48.14,2.63,2.63,0,0,1-.7-.09,2,2,0,0,1-.56-.28,1.43,1.43,0,0,1-.38-.4A1,1,0,0,1,147.84,183.92Zm8.36,10.8a5.76,5.76,0,0,0-1.12-3.78,4,4,0,0,0-3.15-1.39,5,5,0,0,0-1.56.25,4.55,4.55,0,0,0-1.29.6,10.12,10.12,0,0,0-.61,2.17,16.06,16.06,0,0,0-.24,2.86v1.68a5.24,5.24,0,0,0,1.23,3.71,4,4,0,0,0,3,1.32,5.07,5.07,0,0,0,1.46-.22,5.64,5.64,0,0,0,1.39-.63,8.22,8.22,0,0,0,.64-2.19,16.58,16.58,0,0,0,.21-2.69Zm-2.7-10.8a2.6,2.6,0,0,1,.1-.68,2.5,2.5,0,0,1,.27-.57,1.34,1.34,0,0,1,.4-.39.92.92,0,0,1,.48-.14,2.28,2.28,0,0,1,.7.1,1.94,1.94,0,0,1,.56.27,1.46,1.46,0,0,1,.38.41,1,1,0,0,1,.13.49,2.2,2.2,0,0,1-.1.68,1.94,1.94,0,0,1-.27.56,1.37,1.37,0,0,1-.41.39.84.84,0,0,1-.48.14,2.56,2.56,0,0,1-.69-.09,1.73,1.73,0,0,1-.56-.28,1.39,1.39,0,0,1-.37-.4A1,1,0,0,1,153.5,183.92Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M161.61,202.14l2.17-.48V190l-2.17-.48.28-1.39,3.33-.31.82,2.52a8.06,8.06,0,0,1,2.37-1.86,6.12,6.12,0,0,1,2.78-.66,4.84,4.84,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.2,4.08v8.41l2.17.48-.28,1.39H171.7l-.29-1.39,2.17-.48v-7.79a6,6,0,0,0-.7-3.24,2.79,2.79,0,0,0-2.53-1.08,4.73,4.73,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.16.48-.28,1.39h-6.32Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M183.09,196.12v1.08a4.85,4.85,0,0,0,1.31,3.66,4.27,4.27,0,0,0,3.12,1.28,10.41,10.41,0,0,0,2.31-.25,11.85,11.85,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.58,1,12.46,12.46,0,0,1-2.69.3,5.56,5.56,0,0,1-6.13-6.17v-1.18a10,10,0,0,1,1.8-6.35,5.94,5.94,0,0,1,4.93-2.29,5.27,5.27,0,0,1,4.15,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a10.36,10.36,0,0,0-.53,1.93,15.69,15.69,0,0,0-.28,2.09H190a7.11,7.11,0,0,0-.74-3.72,2.63,2.63,0,0,0-2.39-1.15,5.39,5.39,0,0,0-1.64.25A4.57,4.57,0,0,0,183.94,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M195.33,202.14l2.17-.48V190l-2.17-.48.28-1.39,3.33-.31.82,2.52a8.06,8.06,0,0,1,2.37-1.86,6.12,6.12,0,0,1,2.78-.66,4.84,4.84,0,0,1,3.74,1.32,5.94,5.94,0,0,1,1.2,4.08v8.41l2.17.48-.28,1.39h-6.32l-.29-1.39,2.17-.48v-7.79a6,6,0,0,0-.7-3.24,2.79,2.79,0,0,0-2.53-1.08,4.73,4.73,0,0,0-2,.47,7.76,7.76,0,0,0-2,1.36v10.28l2.16.48-.28,1.39h-6.32Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M217.67,190.12l.2.08a6.67,6.67,0,0,1,1.92-1.74,5.12,5.12,0,0,1,2.59-.61,4.63,4.63,0,0,1,3.76,1.58,7.13,7.13,0,0,1,1.32,4.67v1.33a9.68,9.68,0,0,1-1.79,6.17,5.77,5.77,0,0,1-4.77,2.24,16.55,16.55,0,0,1-2.89-.29c-1.12-.2-2.09-.41-2.89-.63V183.58L213,183.1l.29-1.39,4.43-.31Zm7.24,4.32a6.23,6.23,0,0,0-.88-3.67,2.92,2.92,0,0,0-2.55-1.22,3.86,3.86,0,0,0-2,.63,7.91,7.91,0,0,0-1.8,1.48v10.1c.46.1,1,.18,1.64.26a14.83,14.83,0,0,0,1.88.12,4.89,4.89,0,0,0,1.63-.27,4.4,4.4,0,0,0,1.23-.6,9.63,9.63,0,0,0,.58-2.07,16,16,0,0,0,.28-3.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M232.7,196.12v1.08a4.85,4.85,0,0,0,1.32,3.66,4.27,4.27,0,0,0,3.12,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.94,5.94,0,0,1,4.92-2.29,5.28,5.28,0,0,1,4.16,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09h6.87a7,7,0,0,0-.75-3.72,2.61,2.61,0,0,0-2.38-1.15,5.46,5.46,0,0,0-1.65.25A4.86,4.86,0,0,0,233.55,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M247.11,190l-2.16-.48.28-1.39,3.33-.31.82,2.51a5.16,5.16,0,0,1,1.59-1.89,3.67,3.67,0,0,1,2.14-.62,4.46,4.46,0,0,1,1.14.15,3.45,3.45,0,0,1,1,.44l-.36,4h-1.58l-.37-2.62a1.75,1.75,0,0,0-.64-.11,2.43,2.43,0,0,0-1.44.52,4.71,4.71,0,0,0-1.17,1.14v10.28l2.64.48-.28,1.39h-6.79l-.28-1.39,2.16-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M267.66,189.68l-.06.14a3.34,3.34,0,0,1,1.06,1.23,3.43,3.43,0,0,1,.46,1.71v.36a4.88,4.88,0,0,1-1.55,3.79,5.9,5.9,0,0,1-4.12,1.41,8.06,8.06,0,0,1-1.69-.17,10.5,10.5,0,0,0-1.24,1.34,2,2,0,0,0-.47,1,.69.69,0,0,0,.26.57,1.24,1.24,0,0,0,.75.2h3.17a10.3,10.3,0,0,1,5,1,3.31,3.31,0,0,1,1.68,3.08,3.86,3.86,0,0,1-2,3.49,10.76,10.76,0,0,1-5.58,1.2,12,12,0,0,1-4.64-.67,2.22,2.22,0,0,1-1.49-2.14,3,3,0,0,1,.77-1.91,9.21,9.21,0,0,1,2.19-1.89,3.13,3.13,0,0,1-1.6-.73,1.83,1.83,0,0,1-.58-1.42,3,3,0,0,1,.67-1.76,8.47,8.47,0,0,1,1.78-1.75,4.17,4.17,0,0,1-1.84-1.58,3.93,3.93,0,0,1-.61-2.12v-.37a5.77,5.77,0,0,1,1.54-4.3,5.63,5.63,0,0,1,4.12-1.52,7.54,7.54,0,0,1,1,.09,9.45,9.45,0,0,1,1.13.22h4.45l.25,1.52Zm-5.85,13.85a8.38,8.38,0,0,0-1.63,1.55,2.52,2.52,0,0,0-.63,1.5,1.37,1.37,0,0,0,1,1.37,12.81,12.81,0,0,0,3.68.36,13.69,13.69,0,0,0,2.2-.18,8.26,8.26,0,0,0,2-.55,2.53,2.53,0,0,0,.38-.81,3.2,3.2,0,0,0,.15-1,1.81,1.81,0,0,0-1-1.78,9,9,0,0,0-3.55-.5Zm4.76-10.82a3,3,0,0,0-.94-2.33,3.27,3.27,0,0,0-2.24-.83,6.11,6.11,0,0,0-1.23.12,4.76,4.76,0,0,0-1,.3,7.86,7.86,0,0,0-.43,1.56,8.76,8.76,0,0,0-.13,1.46v.54a2.78,2.78,0,0,0,1,2.23,3.31,3.31,0,0,0,2.17.86,6.62,6.62,0,0,0,1.23-.11,3.64,3.64,0,0,0,1-.32,4.4,4.4,0,0,0,.4-1.24,8.23,8.23,0,0,0,.17-1.7Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M275.12,196.12v1.08a4.89,4.89,0,0,0,1.31,3.66,4.31,4.31,0,0,0,3.13,1.28,10.55,10.55,0,0,0,2.31-.25,12.11,12.11,0,0,0,2.11-.67v1.36a10,10,0,0,1-2.59,1,12.3,12.3,0,0,1-2.68.3,5.57,5.57,0,0,1-6.14-6.17v-1.18a10,10,0,0,1,1.81-6.35,5.92,5.92,0,0,1,4.92-2.29,5.28,5.28,0,0,1,4.16,1.46q1.28,1.47,1.27,5.11v1.7Zm.85-5.72a12.18,12.18,0,0,0-.53,1.93,15.57,15.57,0,0,0-.27,2.09H282a7,7,0,0,0-.75-3.72,2.61,2.61,0,0,0-2.38-1.15,5.46,5.46,0,0,0-1.65.25A4.86,4.86,0,0,0,276,190.4Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-2"
        d="M289.53,190l-2.16-.48.28-1.39,3.33-.31.82,2.51a5.16,5.16,0,0,1,1.59-1.89,3.67,3.67,0,0,1,2.14-.62,4.46,4.46,0,0,1,1.14.15,3.45,3.45,0,0,1,1,.44l-.36,4H295.7l-.37-2.62a1.75,1.75,0,0,0-.64-.11,2.43,2.43,0,0,0-1.44.52,4.71,4.71,0,0,0-1.17,1.14v10.28l2.64.48-.28,1.39h-6.79l-.28-1.39,2.16-.48Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M59.39,224.29a2.61,2.61,0,0,1-1.91-.66,2.52,2.52,0,0,1-.66-1.85v-.53a3.92,3.92,0,0,1,.72-2.49,2.34,2.34,0,0,1,1.91-.91,2.64,2.64,0,0,1,1.93.67,2.49,2.49,0,0,1,.7,1.91V221a3.77,3.77,0,0,1-.72,2.42A2.37,2.37,0,0,1,59.39,224.29Zm1.66-3.67a2.32,2.32,0,0,0-.45-1.52,1.6,1.6,0,0,0-1.27-.56,1.91,1.91,0,0,0-.62.1,1.57,1.57,0,0,0-.52.24,4,4,0,0,0-.25.87,7,7,0,0,0-.09,1.15v.68a2.09,2.09,0,0,0,.49,1.49,1.59,1.59,0,0,0,1.22.54,2.06,2.06,0,0,0,.59-.09,2.61,2.61,0,0,0,.56-.26,3.27,3.27,0,0,0,.26-.88,7.41,7.41,0,0,0,.08-1.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M64.1,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.24,2.24,0,0,1,.64-.76,1.58,1.58,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.66.66,0,0,0-.25,0,1.07,1.07,0,0,0-.59.2,2.22,2.22,0,0,0-.46.46v4.14l1.06.2-.12.56H63.34l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M72.37,218.59l0,.06a1.37,1.37,0,0,1,.42.49,1.33,1.33,0,0,1,.19.69V220a2,2,0,0,1-.63,1.53,2.35,2.35,0,0,1-1.65.57A3.47,3.47,0,0,1,70,222a3.43,3.43,0,0,0-.5.54.73.73,0,0,0-.19.41.26.26,0,0,0,.1.22.45.45,0,0,0,.3.08H71a4,4,0,0,1,2,.4,1.32,1.32,0,0,1,.68,1.23,1.56,1.56,0,0,1-.79,1.41,4.38,4.38,0,0,1-2.25.48,4.8,4.8,0,0,1-1.86-.27.9.9,0,0,1-.61-.86,1.25,1.25,0,0,1,.32-.77,3.6,3.6,0,0,1,.88-.76,1.31,1.31,0,0,1-.65-.29.78.78,0,0,1-.23-.57,1.22,1.22,0,0,1,.27-.71,3.66,3.66,0,0,1,.71-.71,1.62,1.62,0,0,1-.73-.63,1.56,1.56,0,0,1-.25-.85v-.15a2.32,2.32,0,0,1,.62-1.73,2.26,2.26,0,0,1,1.66-.62,4.12,4.12,0,0,1,.42,0,4,4,0,0,1,.45.09h1.79l.1.61ZM70,224.17a3.22,3.22,0,0,0-.65.62,1,1,0,0,0-.25.6.55.55,0,0,0,.42.55,5,5,0,0,0,1.48.15,6.65,6.65,0,0,0,.88-.07,3.44,3.44,0,0,0,.8-.22,1.26,1.26,0,0,0,.15-.33,1.32,1.32,0,0,0,.06-.39.72.72,0,0,0-.41-.71,3.51,3.51,0,0,0-1.43-.2Zm1.92-4.36a1.21,1.21,0,0,0-.38-.94,1.32,1.32,0,0,0-.9-.33,1.94,1.94,0,0,0-.49.05,1.73,1.73,0,0,0-.4.12,2.66,2.66,0,0,0-.17.63,3.09,3.09,0,0,0-.06.58v.22a1.13,1.13,0,0,0,.41.9,1.31,1.31,0,0,0,.87.34,2.6,2.6,0,0,0,.5,0,1.63,1.63,0,0,0,.39-.13,1.63,1.63,0,0,0,.16-.5,3,3,0,0,0,.07-.68Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M79.15,223.41l1,.2-.11.56-1.46.12-.33-1a2.47,2.47,0,0,1-2,1,2,2,0,0,1-1.29-.4,1.31,1.31,0,0,1-.48-1.08,1.69,1.69,0,0,1,.92-1.57,5.66,5.66,0,0,1,2.79-.54v-.54a2,2,0,0,0-.31-1.24,1.35,1.35,0,0,0-1.09-.38l-.42,0-.43.06-.35,1.21-.56-.05v-1.62a5.86,5.86,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,3.07,3.07,0,0,0-.11.36,2.12,2.12,0,0,0,0,.44.93.93,0,0,0,.32.74,1.21,1.21,0,0,0,.82.27,1.76,1.76,0,0,0,.84-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M81,223.61l.87-.2v-4.68l-.87-.19.12-.56,1.34-.13.33,1a3.21,3.21,0,0,1,1-.75,2.4,2.4,0,0,1,1.12-.27,1.91,1.91,0,0,1,1.5.54,2.33,2.33,0,0,1,.49,1.64v3.38l.87.2-.11.56H85l-.11-.56.87-.2v-3.13A2.43,2.43,0,0,0,85.5,219a1.12,1.12,0,0,0-1-.43,1.9,1.9,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.87.2-.11.56H81.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M89.51,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.12.56H88.75l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.47.47,0,0,1,.39-.24,1,1,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,89.24,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M95.05,220.62a4.6,4.6,0,0,1,1.5,1,1.54,1.54,0,0,1,.32,1,1.44,1.44,0,0,1-.65,1.21,2.93,2.93,0,0,1-1.73.46,4.73,4.73,0,0,1-1.09-.12,3.63,3.63,0,0,1-.83-.28l-.06-1.37.63-.11.33,1.07.49.1.54,0c.2,0,.41,0,.61,0a4.52,4.52,0,0,0,.62-.12,1.07,1.07,0,0,0,.09-.27c0-.1,0-.2,0-.3a.94.94,0,0,0-.36-.72,7.59,7.59,0,0,0-1.41-.88,4.33,4.33,0,0,1-1.28-.89,1.43,1.43,0,0,1,.28-2.07,2.71,2.71,0,0,1,1.7-.47,4.62,4.62,0,0,1,1,.11,3.31,3.31,0,0,1,.84.28l.05,1.37-.62.11-.34-1.07a3.41,3.41,0,0,0-.48-.09l-.48,0a3.69,3.69,0,0,0-.58,0,3.77,3.77,0,0,0-.53.12,1.85,1.85,0,0,0-.09.23,1.53,1.53,0,0,0,0,.3.82.82,0,0,0,.25.58A6.27,6.27,0,0,0,95.05,220.62Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M102.68,223.41l1,.2-.12.56-1.45.12-.33-1a2.82,2.82,0,0,1-1,.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.32-1.24,1.32,1.32,0,0,0-1.08-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.66,9.66,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,1.61,1.61,0,0,0,0,.44.92.92,0,0,0,.31.74,1.23,1.23,0,0,0,.82.27,1.77,1.77,0,0,0,.85-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M107.64,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.37,2.37,0,0,1-.6.27,2.29,2.29,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.92-.18.12-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M109.59,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.11.56h-2.55l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.5.5,0,0,1,.39-.24.93.93,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,109.32,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M115,224.29a2.59,2.59,0,0,1-1.91-.66,2.52,2.52,0,0,1-.66-1.85v-.53a3.92,3.92,0,0,1,.72-2.49,2.32,2.32,0,0,1,1.91-.91,2.65,2.65,0,0,1,1.93.67,2.53,2.53,0,0,1,.69,1.91V221a3.83,3.83,0,0,1-.71,2.42A2.37,2.37,0,0,1,115,224.29Zm1.66-3.67a2.32,2.32,0,0,0-.45-1.52,1.6,1.6,0,0,0-1.27-.56,2,2,0,0,0-.63.1,1.51,1.51,0,0,0-.51.24,3.52,3.52,0,0,0-.25.87,6.93,6.93,0,0,0-.1,1.15v.68a2.1,2.1,0,0,0,.5,1.49,1.58,1.58,0,0,0,1.22.54,2.06,2.06,0,0,0,.59-.09,2.85,2.85,0,0,0,.56-.26,3.28,3.28,0,0,0,.25-.88,6.21,6.21,0,0,0,.09-1.08Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M118.84,223.61l.87-.2v-4.68l-.87-.19L119,218l1.34-.13.33,1a3.21,3.21,0,0,1,.95-.75,2.46,2.46,0,0,1,1.12-.27,2,2,0,0,1,1.51.54,2.38,2.38,0,0,1,.48,1.64v3.38l.87.2-.11.56H122.9l-.12-.56.87-.2v-3.13a2.43,2.43,0,0,0-.28-1.31,1.12,1.12,0,0,0-1-.43,1.9,1.9,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.88.2-.12.56H119Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M129.16,220.62a4.6,4.6,0,0,1,1.5,1,1.54,1.54,0,0,1,.32,1,1.44,1.44,0,0,1-.65,1.21,2.93,2.93,0,0,1-1.73.46,4.73,4.73,0,0,1-1.09-.12,3.63,3.63,0,0,1-.83-.28l-.06-1.37.63-.11.33,1.07.49.1.54,0c.2,0,.41,0,.61,0a4.52,4.52,0,0,0,.62-.12,1.07,1.07,0,0,0,.09-.27,1.51,1.51,0,0,0,0-.3.94.94,0,0,0-.36-.72,7.59,7.59,0,0,0-1.41-.88,4.33,4.33,0,0,1-1.28-.89,1.43,1.43,0,0,1,.28-2.07,2.71,2.71,0,0,1,1.7-.47,4.79,4.79,0,0,1,1,.11,3.36,3.36,0,0,1,.83.28l0,1.37-.62.11-.34-1.07a3.41,3.41,0,0,0-.48-.09l-.48,0a3.69,3.69,0,0,0-.58,0,3.77,3.77,0,0,0-.53.12,1.85,1.85,0,0,0-.09.23,1.53,1.53,0,0,0,0,.3.79.79,0,0,0,.26.58A5.83,5.83,0,0,0,129.16,220.62Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M133.36,218.77l.08,0a2.67,2.67,0,0,1,.77-.7,2.13,2.13,0,0,1,1-.25,1.89,1.89,0,0,1,1.52.64,2.89,2.89,0,0,1,.53,1.88v.53a3.9,3.9,0,0,1-.72,2.49,2.33,2.33,0,0,1-1.92.9,6.81,6.81,0,0,1-1.17-.12c-.45-.08-.83-.16-1.16-.25v-7.78l-.87-.2.11-.56,1.79-.12Zm2.91,1.73a2.57,2.57,0,0,0-.35-1.47,1.19,1.19,0,0,0-1-.49,1.55,1.55,0,0,0-.81.25,3.24,3.24,0,0,0-.72.6v4.06c.19,0,.41.08.66.11a6.3,6.3,0,0,0,.75.05,2,2,0,0,0,.66-.11,1.94,1.94,0,0,0,.5-.25,4.6,4.6,0,0,0,.23-.83,7,7,0,0,0,.11-1.24Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M139.41,221.18v.44a1.92,1.92,0,0,0,.53,1.47,1.75,1.75,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.49v-.47a4.08,4.08,0,0,1,.73-2.56,2.39,2.39,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.19,3.19,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,139.75,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M145.21,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1.07,1.07,0,0,0-.58.2,2.29,2.29,0,0,0-.47.46v4.14l1.07.2-.12.56h-2.73l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M154.13,223.41l1,.2-.12.56-1.45.12-.33-1a2.82,2.82,0,0,1-.95.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.32-1.24,1.32,1.32,0,0,0-1.08-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,2.12,2.12,0,0,0-.05.44.92.92,0,0,0,.31.74,1.23,1.23,0,0,0,.82.27,1.77,1.77,0,0,0,.85-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M159.09,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.37,2.37,0,0,1-.6.27,2.29,2.29,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.92-.18.12-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M161.14,221.18v.44a2,2,0,0,0,.53,1.47,1.75,1.75,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.49v-.47a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,161.48,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M166.94,218.73l-.87-.19.11-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1.07,1.07,0,0,0-.58.2,2,2,0,0,0-.46.46v4.14l1.06.2-.12.56h-2.73l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M180.57,221.21a2.55,2.55,0,0,1-.18.95,3,3,0,0,1-.52.85,3.42,3.42,0,0,0,.71.4,1.61,1.61,0,0,0,.65.15,3.64,3.64,0,0,0,.48,0,3.08,3.08,0,0,0,.39-.07l.36-.1v.55a1.52,1.52,0,0,1-.36.19,2.21,2.21,0,0,1-.45.13,2.64,2.64,0,0,1-.6.06,2.56,2.56,0,0,1-.93-.18,5.13,5.13,0,0,1-1-.5,4.31,4.31,0,0,1-1.13.5,5.11,5.11,0,0,1-1.4.18,4.9,4.9,0,0,1-1.06-.1,2.74,2.74,0,0,1-.81-.3,1.52,1.52,0,0,1-.51-.53,1.5,1.5,0,0,1-.18-.76v-.17a1.66,1.66,0,0,1,.15-.7,2.55,2.55,0,0,1,.37-.61,3.64,3.64,0,0,1,.53-.51,5.91,5.91,0,0,1,.61-.41,8.41,8.41,0,0,1-.6-1,1.61,1.61,0,0,1-.22-.75v-.17a1.78,1.78,0,0,1,.16-.75,1.83,1.83,0,0,1,.48-.63,2.44,2.44,0,0,1,.78-.44,3.39,3.39,0,0,1,1.06-.15,2.85,2.85,0,0,1,.81.1,1.94,1.94,0,0,1,.59.31,1.25,1.25,0,0,1,.36.49,1.61,1.61,0,0,1,.12.63V218a1.28,1.28,0,0,1-.15.61,2.15,2.15,0,0,1-.43.56,5.18,5.18,0,0,1-.69.54c-.28.18-.59.37-.94.57.33.39.67.77,1,1.16s.73.72,1.1,1a2.31,2.31,0,0,0,.3-.61,2.48,2.48,0,0,0,.1-.73V221l-.87-.2.12-.55,1.72-.13Zm-3.81,2.35a3.66,3.66,0,0,0,1-.12,2.92,2.92,0,0,0,.81-.32,11.67,11.67,0,0,1-1.16-1.09c-.39-.4-.77-.83-1.15-1.28a3.09,3.09,0,0,0-.5.35,1.8,1.8,0,0,0-.33.36,1.27,1.27,0,0,0-.17.4,1.52,1.52,0,0,0-.05.44v.09a.92.92,0,0,0,.13.49,1.16,1.16,0,0,0,.34.36,1.51,1.51,0,0,0,.51.24A2.43,2.43,0,0,0,176.76,223.56Zm1.44-5.49a1,1,0,0,0-.09-.43.82.82,0,0,0-.23-.32.81.81,0,0,0-.34-.19,1.23,1.23,0,0,0-.44-.07l-.32,0-.26,0-.23,0a1.17,1.17,0,0,0-.15.27,1.75,1.75,0,0,0-.1.3,1.37,1.37,0,0,0,0,.36v.1a2.5,2.5,0,0,0,0,.4,1.69,1.69,0,0,0,.12.36,2.09,2.09,0,0,0,.19.36c.09.13.18.27.3.43a7,7,0,0,0,.61-.37,4.2,4.2,0,0,0,.49-.39,2,2,0,0,0,.33-.41.86.86,0,0,0,.13-.42Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M195,218.54l-.54.1-1.68,5.53h-1.21l-1.47-4.73H190l-1.43,4.73h-1.21l-1.84-5.52-.55-.11L185,218h2.12l.11.56-.74.11,1.46,4.61h.09l1.53-5.28h1l1.56,5.28h.09l1.33-4.61-.77-.11L193,218h1.85Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M200.22,223.41l1,.2-.11.56-1.46.12-.33-1a2.82,2.82,0,0,1-.95.78,2.71,2.71,0,0,1-1.1.23,2,2,0,0,1-1.29-.4,1.32,1.32,0,0,1-.49-1.08,1.7,1.7,0,0,1,.93-1.57,5.64,5.64,0,0,1,2.79-.54v-.54a2,2,0,0,0-.31-1.24,1.35,1.35,0,0,0-1.09-.38l-.42,0-.44.06-.34,1.21-.56-.05v-1.62a5.55,5.55,0,0,1,.85-.21,5,5,0,0,1,1-.1,2.55,2.55,0,0,1,1.74.52,2.05,2.05,0,0,1,.57,1.6Zm-1-2a9.75,9.75,0,0,0-1.52.11,3.12,3.12,0,0,0-1,.3,1.89,1.89,0,0,0-.11.36,2.12,2.12,0,0,0-.05.44.92.92,0,0,0,.31.74,1.24,1.24,0,0,0,.83.27,1.76,1.76,0,0,0,.84-.22,2.69,2.69,0,0,0,.71-.51Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M202,223.61l.87-.2v-4.68l-.87-.19.11-.56,1.34-.13.34,1a3.09,3.09,0,0,1,1-.75,2.39,2.39,0,0,1,1.11-.27,1.92,1.92,0,0,1,1.51.54,2.38,2.38,0,0,1,.49,1.64v3.38l.87.2-.12.56h-2.54l-.11-.56.87-.2v-3.13a2.53,2.53,0,0,0-.28-1.31,1.12,1.12,0,0,0-1-.43,1.87,1.87,0,0,0-.8.19,3.05,3.05,0,0,0-.82.54v4.14l.87.2-.11.56h-2.55Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M214.68,223.41l.88.2-.12.56-1.34.12-.33-1a2.62,2.62,0,0,1-.91.78,2.17,2.17,0,0,1-1,.23,2,2,0,0,1-1.6-.64,2.64,2.64,0,0,1-.58-1.84v-.53a3.93,3.93,0,0,1,.72-2.51,2.42,2.42,0,0,1,2-.92l.55,0,.72.11v-1.85l-.88-.2.12-.56,1.78-.12Zm-4-1.72a2.18,2.18,0,0,0,.4,1.42,1.29,1.29,0,0,0,1.06.5,1.71,1.71,0,0,0,.83-.23,2.61,2.61,0,0,0,.68-.5v-4.19l-.7-.11a5.53,5.53,0,0,0-.69,0,2.39,2.39,0,0,0-.71.1,2.16,2.16,0,0,0-.59.28,6.48,6.48,0,0,0-.21,1,7.87,7.87,0,0,0-.07,1.11Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M217.44,221.18v.44a1.92,1.92,0,0,0,.53,1.47,1.75,1.75,0,0,0,1.25.52,4.08,4.08,0,0,0,.93-.11,4.23,4.23,0,0,0,.85-.26v.54a4,4,0,0,1-1,.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.49v-.47a4,4,0,0,1,.73-2.56,2.39,2.39,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.2,3.2,0,0,1,.51,2.06v.68Zm.34-2.3a3.94,3.94,0,0,0-.21.78,7.07,7.07,0,0,0-.12.84h2.77a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2,2,0,0,0,217.78,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M223.24,218.73l-.88-.19.12-.56,1.34-.13.33,1a2.14,2.14,0,0,1,.64-.76,1.55,1.55,0,0,1,.86-.25,1.47,1.47,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.68.68,0,0,0-.26,0,1,1,0,0,0-.58.2,2.29,2.29,0,0,0-.47.46v4.14l1.06.2-.11.56h-2.73l-.12-.56.88-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M228.21,216.14l-.87-.2.11-.56,1.79-.12v8.15l.87.2-.12.56h-2.54l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M232,221.18v.44a2,2,0,0,0,.53,1.47,1.75,1.75,0,0,0,1.26.52,4.22,4.22,0,0,0,.93-.11,4.33,4.33,0,0,0,.84-.26v.54a3.84,3.84,0,0,1-1,.39,5,5,0,0,1-1.08.12A2.25,2.25,0,0,1,231,221.8v-.47a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1.05,1.05,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2.11,2.11,0,0,0,232.38,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M237.84,218.73l-.87-.19.11-.56,1.79-.13v5.56l.87.2-.12.56h-2.54l-.11-.56.87-.2Zm-.27-2.55a1,1,0,0,1,.17-.56.47.47,0,0,1,.39-.24,1,1,0,0,1,.56.17.49.49,0,0,1,.23.4.92.92,0,0,1-.17.55.47.47,0,0,1-.39.24.92.92,0,0,1-.55-.17A.47.47,0,0,1,237.57,216.18Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M243.88,218l.12.56-1.77.18v3.68a1.8,1.8,0,0,0,.18.91.78.78,0,0,0,.73.3,1.55,1.55,0,0,0,.4-.06,2.36,2.36,0,0,0,.46-.17v.54a2.37,2.37,0,0,1-.6.27,2.24,2.24,0,0,1-.68.1,1.49,1.49,0,0,1-1.16-.41,1.86,1.86,0,0,1-.36-1.26v-3.9l-.91-.18.11-.56h.8l.42-1.67.61.11V218Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M245.93,221.18v.44a2,2,0,0,0,.53,1.47,1.75,1.75,0,0,0,1.26.52,4.22,4.22,0,0,0,.93-.11,4.66,4.66,0,0,0,.85-.26v.54a4,4,0,0,1-1.05.39,5,5,0,0,1-1.08.12,2.25,2.25,0,0,1-2.47-2.49v-.47a4.08,4.08,0,0,1,.73-2.56,2.41,2.41,0,0,1,2-.92,2.12,2.12,0,0,1,1.67.59,3.13,3.13,0,0,1,.52,2.06v.68Zm.34-2.3a4.77,4.77,0,0,0-.21.78,5.39,5.39,0,0,0-.11.84h2.76a2.86,2.86,0,0,0-.3-1.5,1,1,0,0,0-1-.46,2.16,2.16,0,0,0-.66.1A2.11,2.11,0,0,0,246.27,218.88Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M251.73,218.73l-.87-.19L251,218l1.34-.13.33,1a2.24,2.24,0,0,1,.64-.76,1.58,1.58,0,0,1,.86-.25,1.43,1.43,0,0,1,.46.07,1.39,1.39,0,0,1,.39.17l-.14,1.62h-.64l-.15-1.06a.66.66,0,0,0-.25,0,1.07,1.07,0,0,0-.59.2,2,2,0,0,0-.46.46v4.14l1.06.2-.12.56H251l-.11-.56.87-.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M196.72,125.86A40.82,40.82,0,1,1,155.91,85,40.86,40.86,0,0,1,196.72,125.86Z"
        transform="translate(-14.17 -85.04)"
      />
      <circle class="cls-3" cx="141.73" cy="40.84" r="34.61" />
      <path
        class="cls-2"
        d="M155.91,94.2a31.69,31.69,0,0,0-31.67,31.66v.27a16.27,16.27,0,0,1,1.88-1,14.65,14.65,0,0,0,.79-1.5c.36-.75,1-2.11,1.1-2.39.29-1,.53-1.9,1.35-2.23a1.48,1.48,0,0,1,1.28.08,38.14,38.14,0,0,1,3.4,2.1c.37.29,1.62,1.39,2.58,2.24a10,10,0,0,1,.73-1.12,4.82,4.82,0,0,0,.69-1.48c.16-.66.76-1.29,2.64-2.8l.11-.08c0-.08.18-.65.26-1a5.26,5.26,0,0,1,.48-1.37,2.71,2.71,0,0,0,.4-1.43c0-1.67,1.89-2.73,2.54-3a1.57,1.57,0,0,1,1.19-1.42,5.5,5.5,0,0,1,1.82,0c.18,0,.42,0,.63.06.06-.17.12-.37.16-.5a6.66,6.66,0,0,1,.23-.68,15.35,15.35,0,0,0,.44-1.6l.08-.32a6.56,6.56,0,0,1,1.94-2.64,3.37,3.37,0,0,0,.2-.52,3.46,3.46,0,0,1,.5-1.1,4,4,0,0,1,1.74-1.15l.33-.15a4,4,0,0,1,3-.39,7.57,7.57,0,0,1,1,.54,6.53,6.53,0,0,0,.93.5,4.7,4.7,0,0,1,2.06,2.31c.17.29.33.57.48.79a3,3,0,0,0,1.4,1.25,4.69,4.69,0,0,0,.54.11,4.56,4.56,0,0,1,2.78,1.26,7,7,0,0,1,1.44,2.19,4.94,4.94,0,0,0,.34.66,7.87,7.87,0,0,0,1.14,1c.43.35.93.76,1.36,1.19s.67.73,1,1.11a6.93,6.93,0,0,0,1.27,1.28,9,9,0,0,1,2.24,1.72c.23.22.43.41.59.54s.41.31.69.54c1,.78,1.9,1.46,2.3,1.86a7.37,7.37,0,0,1,2.07,3,4.52,4.52,0,0,0,.69,1.53c.47.23,1.43.65,2.17,1a4.09,4.09,0,0,1,1.62,1.57,3.35,3.35,0,0,0,.32.44,21.37,21.37,0,0,1,2.3,1.48c.07-.88.1-1.8.1-2.8A31.69,31.69,0,0,0,155.91,94.2Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M184.58,128.3c-.58-.23-1-1.62-1.85-2s-1.85-.81-2.31-1a4.4,4.4,0,0,1-1.28-2.32,6.37,6.37,0,0,0-1.73-2.42c-.52-.52-2.31-1.85-2.89-2.32a15.6,15.6,0,0,0-2.54-2.08c-.81-.34-1.74-1.73-2.66-2.66a29.2,29.2,0,0,1-2.66-2.42,11.2,11.2,0,0,0-1.62-2.66c-.92-.93-2-.81-2.77-1a4.2,4.2,0,0,1-2.08-1.74c-.58-.8-1.22-2.37-2-2.65s-1.39-.81-2-1a2.85,2.85,0,0,0-2,.34,4.47,4.47,0,0,0-1.62.93c-.34.46-.34,1.38-.92,1.85a5.47,5.47,0,0,0-1.5,2,21,21,0,0,1-.58,2.08,10,10,0,0,1-.65,1.73l3.31,1.62c.77.39,1.77,1.55,3,1.85s2.39.16,3.32.7,1.85,1.38,2.31,1.69a26.12,26.12,0,0,0,3.08,1.39,13.37,13.37,0,0,1,2.23,1.23,7.15,7.15,0,0,0,2.24,1.24c.92.23.35-1.11.54-1.55s2.08.45,2.47.85a17.35,17.35,0,0,1,1.69,1.93,8.24,8.24,0,0,0,1.7,2.08,26.13,26.13,0,0,0,2.85,2.08,3.38,3.38,0,0,1,1.85,1.23,5.59,5.59,0,0,0,2.23,1.62,24.09,24.09,0,0,1,3.16,1.7c.39.24,1.31.61,2,1q.14-.74.24-1.47A26.4,26.4,0,0,0,184.58,128.3Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M148.91,156.54c.52-.49.66-.61.74-.67a8,8,0,0,0,1.69-1.55,4.45,4.45,0,0,1,1.73-1,8.22,8.22,0,0,0,.85-.38,5.93,5.93,0,0,1,1.07-.47,3.87,3.87,0,0,0,1.32-.64c.19-.18.43-.45.71-.73a20.08,20.08,0,0,1,1.89-1.86,10.89,10.89,0,0,0,1.24-1.21c.3-.32.63-.67,1-1l.58-.55.07-.07-.38-.28c-.29-.23-.29-.92-.35-1.73a1.35,1.35,0,0,0-.81-1.33c-.4-.17-.86.29-1.15.58a17.57,17.57,0,0,1-1.5,1.5c-.52.4-.67.43-1,.43a3.6,3.6,0,0,1-1.75-.55,8.85,8.85,0,0,0-2.6-1.09c-1-.24-1.1-.35-1.45-.93s.41-1.27.47-1.73-.47-1.22-.81-1.74a7.61,7.61,0,0,0-1-1.33c-.28-.23-.57-.2-1.38-.05s-1.16.4-1.85.52a3.9,3.9,0,0,1-2-.12,19.55,19.55,0,0,1-3.93-2.14,2.19,2.19,0,0,0-1.56-.81c-.58,0-.92.23-1.5.06s-.79-.9-1-1.27a29.73,29.73,0,0,1-.72-2.89c-.06-.35-.29-2.49-.34-3a8.4,8.4,0,0,0-1.22-2.77c-.46-.52-.92-2-1.39-2.49s-2.65-3-2.65-3c-.58-.33-.85,2-1.28,2.68s-1.38,3.12-2,3.35-2.08.81-2.31,1.62c0,.07,0,.16-.07.25a31.66,31.66,0,0,0,24.36,28.42l.15,0m28.32-20.18c-.48-.24-1-.51-1.35-.73-1.19-.72-2.44.39-3.11,1a10.76,10.76,0,0,0-1.18,1.32,7.1,7.1,0,0,1-.72.83,14.6,14.6,0,0,0-1.82,2.41,1.56,1.56,0,0,1-.21.26h-.11c-.51-.05-1.12-.11-1.43-.12-.61,0-3.33-.29-3.7-.32a11.76,11.76,0,0,1-1.71-.29,14.91,14.91,0,0,1-2-.7c-.63-.28-3.76-1.15-4.23-1.37s-1.52-.62-2.16-.93-1.73-.5-2.31-.85-1.27-.88-1.93-1.23-2-1.58-2.66-2-2.38-1.85-2.92-2.24-2.32-2-2.66-2.31-1.2-1-1.66-1.5a6.17,6.17,0,0,0-1.31-1.12,7.7,7.7,0,0,1-1.08-1,24.43,24.43,0,0,1,1.39-2.31,5.83,5.83,0,0,0,.92-2c.12-.46,1.74-1.73,2.32-2.19a2.63,2.63,0,0,0,.6-1.29,7.47,7.47,0,0,1,.43-1.37,4,4,0,0,0,.58-2.08c0-.81,1.06-1.56,2-2s2.93.85,3.85,1.24a30.66,30.66,0,0,1,3.62,1.61,12,12,0,0,0,2.93,1.24,12.28,12.28,0,0,1,3.47,1,50.45,50.45,0,0,1,4.39,2.7c.62.6,2,2.23,2.78,2.39a53.06,53.06,0,0,1,5.39,1.69,12.62,12.62,0,0,1,2.85,1.85c.77.77,2.08,1.46,2.86,2.24s1.77,1.92.92,2-1.53,1.25-2.2,1.42a6.16,6.16,0,0,1-2.66.2c-.5-.22-2.39-1.2-2.77-1.47s-2.36-2.06-3.24-2.23a28.78,28.78,0,0,1-4.16-.77,23.81,23.81,0,0,0-4-1.62,11.15,11.15,0,0,1-3.47-1.77,11.49,11.49,0,0,1-2.31-1.62,18.11,18.11,0,0,0-1.7-1.77A15.92,15.92,0,0,0,150,119a7.41,7.41,0,0,0-1.61-1,3.63,3.63,0,0,0-1.62-.31c-.85,0-1.61-.06-2.08,0s-1.08.39-1.08.7.61.61,1.31,1.08,1.33,1.18,1.85,1.46a16.65,16.65,0,0,1,2.69,1.39c.93.69,2.47,1.39,3,2.08a8.51,8.51,0,0,0,2.93,1.69c.77.31,1.93.93,2.93,1.24s3.47.85,4.62,1.31,1.93,1.08,2.93,1.38,3,1.32,3.62,1.47a7.3,7.3,0,0,1,2.47,1.15,4.18,4.18,0,0,0,1.77,1.08,5.38,5.38,0,0,1,2.31,1.31l1,1.16Z"
        transform="translate(-14.17 -85.04)"
      />
      <path
        class="cls-1"
        d="M150.23,157a28.62,28.62,0,0,0,5.71.44h.11c11.68,0,22-6.28,27.86-16.85a14.23,14.23,0,0,0-1.79-1.24,29.71,29.71,0,0,0-3-1l-1-.3a18.85,18.85,0,0,1-2.87-1.4c-.39-.24-1.19.47-1.62.85a10.24,10.24,0,0,0-1,1.17,7.43,7.43,0,0,1-.89,1,12.58,12.58,0,0,0-1.56,2.11,24.61,24.61,0,0,1-3,3l-.65.61a2.53,2.53,0,0,1-1.1.47,6.11,6.11,0,0,0-2.18.92c-.37.28-1,.84-1.19,1.07s-.66.68-1,1a12.07,12.07,0,0,1-1.43,1.37,23.46,23.46,0,0,0-1.71,1.69l-.72.76a4.89,4.89,0,0,1-1.79.94,5.14,5.14,0,0,0-.83.34,6.77,6.77,0,0,1-1,.49,4.06,4.06,0,0,0-1.21.62,9.3,9.3,0,0,1-2,1.8Z"
        transform="translate(-14.17 -85.04)"
      />
    </svg>
    {% endif %}
  </a>
</div>
<div class="content-wrapper">
  <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
    <section class="article-content">
      {#
      <h1 class="article-h1">{{ post.title }}</h1>
      #}
      <div class="article-body">
        {{ post.content }}
      </div>
    </section>
  </article>
</div>
<!-- /content-wrapper -->
{% endblock %}
